@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-main: #5f29f1;
  --color-secondary: #7b3afd;
  --white: #ffff;
  --bg-color: #111111;
  --border: 8px;

  /* Font sizes */
  --font-link: 16px;
  --font-family: poppins;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins';
  background: #2a282d;
}

.container-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
  width: 100%;
  height: 72px;
  background: var(--bg-color);
  box-shadow: 0 0 10px rgba(75, 54, 88, 0.973);
}

.navbar {
  display: flex;
  padding: 10px;
}

.btn-contato {
  font-family: poppins;
  padding: 8px;
  color: var(--color-secondary);
  padding: 12px;
  border: 1px solid var(--color-secondary);
  border-radius: 8px;
}

.btn-contato:hover {
  color: var(--white);
  cursor: pointer;
  background-color: var(--color-secondary);
}

nav a {
  color: var(--white);
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  margin-right: 1rem;
  font-weight: 400;
}

nav a.active {
  color: #8f44fd;
  border-bottom: 1px solid var(--color-secondary);
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 15%;
  text-align: center;
}

section:nth-child(2) {
  background: #f7efef;
}

section:nth-child(3) {
  background: #fbf8ff;
}

section:nth-child(4) {
  background: #2a282d;
}

section:nth-child(5) {
  background: #1d1622;
}

p {
  color: #565656;
  line-height: 1.8;
}

section:nth-child(4) h2 {
  color: rgb(255 255 255 / 96%);
}

section:nth-child(4) p {
  color: rgb(255 255 255 / 70%);
}

/* MOBILE */

@media (width < 576px) {
  .container-nav {
    justify-content: center;
  }
}
